body{
	background-image: url(image/img2.png);
}
header{
	text-align: center;
	padding: 2%;	
	color: #5D001E;
}
#div2{
	background-color: #E3AFBC;
	padding: 10px;
	text-align: right;
}
a{
	color: black;
	text-decoration: none;
}
#div1{
	padding: 3%;
	float: center;

}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  margin: 20px 0px 0px 200px;
  border: 1px solid black;
  box-shadow: 5px 10px 18px #888888;
}
th, td {
  padding: 15px;
  color: black;

  text-align: left;
}

tr:nth-child(even) {
	background-color: white;
}
tr:nth-child(odd) {
	background-color: #f2f2f2;
}